<hello name="{{ name }}"></hello>
<p>Start editing to see some magic happen :)</p>

<div>
  <button (click)="fetchPDF()">Fetch PDF</button>
  <button (click)="documentSrc = ''">Reset</button>
</div>

<embed
  *ngIf="documentSrc"
  [src]="documentSrc | safe: 'resourceUrl'"
  class="pdf-demo"
  type="application/pdf"
/>

<iframe [src]="documentSrc | safe: 'resourceUrl'" frameborder="0"></iframe>

<object
  [data]="documentSrc | safe: 'resourceUrl'"
  type="application/pdf"
></object>

<object [data]="documentSrc | safe: 'resourceUrl'" type="">
  <iframe [src]="documentSrc | safe: 'resourceUrl'" frameborder="0">
    Please update your browser!
  </iframe>
</object>

<!-- <ngx-extended-pdf-viewer
  [src]="documentSrc"
  [height]="'58vh'"
  [useBrowserLocale]="true"
>
</ngx-extended-pdf-viewer> -->
